@using RealEstateApp.Core.Application.ViewModels.PropertyType;
@model SavePropertyTypeViewModel;

@{
    ViewData["Title"] = "Edit Tipo Propiedad";
}

<div class="row text-lg m-4">
    <div class="col-md-5">
        <h2 class="text-3xl mb-3">Editando: @Model.Name</h2>
        <form asp-action="Edit">
            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-bg-danger">  </span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-bg-danger">  </span>
            </div>
            <div class="btn-group mb-3 col-12">
                <a asp-action="Index" asp-controller="PropertyType" class="btn btn-outline-primary w-full">Atrás</a>
                <input type="submit" class="btn w-25 btn-outline-success w-100" value="Editar" />
            </div>
        </form>
    </div>
</div>
