

@{
    ViewData["Title"] = "Home Page";
}


<div class="bg-img-2 d-flex justify-content-center align-items-center flex-column mb-3">
    <h1 class="display-4">Real State App</h1>
    <p class="lead">Listado de propiedades</p>
</div>